@model IEnumerable<Game>

<div class="container py-4">
    <h2>Search Results</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var game in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@game.ImageUrl" class="card-img-top"
                         style="height: 200px; object-fit: contain; background-color: #1b2838;"
                         alt="@game.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@game.Name</h5>
                        <p class="card-text">@game.Description</p>
                        <form asp-action="AddGameToDatabase" method="post">
                            <input type="hidden" name="storeId" value="@game.StoreId">
                            <button type="submit" class="btn btn-primary">Add to Database</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
